@import "_normalize";


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #3767AD;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}