@import "_normalize";
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap&subset=latin-ext');


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #3767AD;
  width: 100%;
  overflow-x: hidden;
  font: 400 18px "Lato", sans-serif;
}

.main {
  width: 100%;
  height: 100vh;
  max-width: 500px;
  margin: auto;
  color: #f6f6f6;
}

.page-title {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2px;
  line-height: 1;
  margin-top: 0;
  padding-top: 0.67em;
}

.day {
  font-size: 0.8em;
  text-align: center;
  display: block;
}

.container {
  width: 100%;
  margin-top: 50px;
  position: relative;
}

.glass {
  display: block;
  margin: 20px auto;

  &__count {
    position: absolute;
    font-size: 5em;
    color: #000;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.btn {
  background: transparent;
  border: none;
  color: inherit;
  padding: 15px 30px;
  width: 100%;
  display: block;
  margin: 10px auto;
  max-width: 200px;
  cursor: pointer;

  &__primary {
    color: #000;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
  }
}